.sorting-tags-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.catalogue {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 100%;
    background-color: var(--parchment);
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    border-radius: 30px;
}


.filters {
    align-self: start;
}

.catalogue-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--lightparchment);
}

/* ------------- catalogue-items ------------*/
.catalogue-name {
    width: 180px;
    padding-left: 12px;
}

.catalogue-classes {
    width: 120px;
}

.catalogue-damage {
    width: 48px;
}

.catalogue-type {
    width: 90px;
}

.catalogue-cast {
    width: 90px;
}

.catalogue-range {
    width: 60px;
}