.catalogue {
    display: flex;
    flex-direction: column;
    background-color: var(--parchment);
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 1200px;
    height: auto;
}

.catalogue-container {
    justify-content: start;
}

.sorting-tags-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 30px;
    justify-content: space-between;
    position: sticky;
    top: 60px;
}

select.suggestions-list {
    cursor: pointer;
    position: absolute;
    font-size: 16px;
    top: -22px;
    left: 240px;
    max-width: 120px;
    color: var(--ink);
}

.class-suggestion:hover {
    cursor: pointer;
    background-color: var(--lightparchment);
}

.catalogue-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--lightparchment);
    margin-bottom: 30px;
    text-align: center;
}

.catalogue-header {
    color: var(--ink);
    font-size: 24px;
    list-style: none;
    border-bottom: 1px solid var(--ink);
    margin: 5px 0;
    align-content: center;
}


/* ------------- catalogue-items ------------*/
.catalogue-name {
    width: 240px;
    padding-left: 12px;
}

.catalogue-classes {
    width: 180px;
    position: relative;
}

.catalogue-damage {
    width: 72px;
}

.catalogue-type {
    width: 90px;
}

.catalogue-cast {
    width: 90px;
}

.catalogue-range {
    width: 60px;
}

/* -------- position-dummy ------- */
.position-dummy {
    width: 360px;
    transition: width 0.3s ease;
}

.position-dummy.open {
    width: 0;
}