.sorting-tags-container {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.filters {
    justify-self: start;
}

.catalogue-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--lightparchment);
}