.filter-content {
    display: none;
    overflow: hidden;
}

.filter-content.active {
    column-gap: 5px;
    width: calc(100%);
    margin-left: 12px;
    display: grid;
    text-align: start;
    grid-template-columns: repeat(auto-fill, minmax(10%, 27%));
    overflow: clip;
}

.filter-collapse-button {
    background-color: transparent;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    color: var(--ink);
}

.filter-option {
    list-style: none;
    text-align: start;
    min-width: 10%;
    max-width: 100%;
    grid-column: span 1;
    max-height: 25px;
    font-size: 15px;
}


.filter-option-checkbox {
    margin-right: 6px;
}



