.filter-content {
    display: none;
    overflow: hidden;
}

.filter-content.active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 12px;
    width: calc(100% - 12px);
    border: solid 1px black;
    margin-left: 12px;
}

.filter-collapse-button {
    background-color: transparent;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    color: var(--ink);
}

.filter-option {
    list-style: none;
}

.filter-option-checkbox {
    margin-right: 6px;
}