nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: var(--purple);
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.outer-nav-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: start;
    background-color: var(--purple);
}

.input-container,
.navLink {
    background-color: var(--purple);
}

/* ----------------- Links ----------------- */

.navLink,
.navLink:hover,
.navLink:visited {
    padding: 10px;
    text-decoration: none;
    color: var(--coral);
    cursor: pointer;
}

.navLink-account,
.navLink-account:hover,
.navLink-account:visited {
    padding: 15px 7px;
    text-decoration: none;
    color: var(--ink);
    background-color: var(--blue);
    border-radius: 30px;
    cursor: pointer;
}


/* ------------------ Logo ------------------- */
.logo-wrapper,
.logo-wrapper a,
.logo-wrapper a img {
    height: 100%;
    width: auto;
    text-decoration: none;
    background-color: var(--purple);
}

.logo-wrapper a {
    display: flex;
    flex-direction: row;
}

.logoName,
.logoName:hover,
.logoName:visited {
    text-decoration: none;
    color: var(--coral);
    margin-right: 10px;
    margin-left: 10px;
    align-self: center;
    background-color: var(--purple);
}

/* ------------------- Inputs --------------- */

.accountInput {
    padding: 5px;
    border-radius: 12px;
    border: solid 1px transparent;
    margin: 5px;
    background-color: var(--lightparchment);
}

.accountInput:focus {
    border: solid 1px var(--coral);
    outline: none;
}