nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: var(--purple);
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.outer-nav-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: start;
}

.center {
    position: relative;
}

/* ----------------- Links ----------------- */

.navLink,
.navLink:hover,
.navLink:visited {
    padding: 10px;
    text-decoration: none;
    color: var(--coral);
    cursor: pointer;
}

.navLink::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--coral);
    opacity: 50%;
    transition: width .5s ease-in-out;
}

.navLink:hover::after {
    width: 100%;
}

.navLink-account,
.navLink-account:hover,
.navLink-account:visited {
    padding: 15px 7px;
    text-decoration: none;
    color: var(--ink);
    background-color: var(--blue);
    border-radius: 30px;
    cursor: pointer;
    margin-left: 24px;
}

.username {
    color: var(--coral);
}

.navLink-account:hover {
    color: var(--lightparchment);
}

.navLink-account:active {
    background-color: var(--lightparchment);
    color: var(--purple);
}


/* ------------------ Logo ------------------- */
.logo-wrapper,
.logo-wrapper a,
.logo-wrapper a img {
    height: 100%;
    width: auto;
    text-decoration: none;
    background-color: var(--purple);
}

.logo-wrapper a {
    display: flex;
    flex-direction: row;
}

.logoName,
.logoName:hover,
.logoName:visited {
    text-decoration: none;
    color: var(--coral);
    margin-right: 10px;
    margin-left: 10px;
    align-self: center;
    background-color: var(--purple);
}

/* ------------------- Inputs --------------- */

.accountInput {
    padding: 5px;
    border-radius: 12px;
    border: solid 1px transparent;
    margin: 5px;
    background-color: var(--lightparchment);
}

.accountInput:focus {
    border: solid 1px var(--coral);
    outline: none;
    position: relative;
}

/* ------------- Suggestions --------- */

.suggestions-list {
    position: absolute;
    top: 100%;
    right: 60px;
    min-width: 40%;
    background-color: var(--parchment);
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: var(--lightparchment);
}