.spell-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 24px 0;
    width: 60%;
    background-color: var(--parchment);
    color: var(--ink);
}

.spell-attributes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    align-self: center;
}

.spell-name {
    text-align: center;
}
.spell-attribute {
    text-align: start;
    width: 25%;
}