.search-result {
    background-color: var(--parchment);
    width: 100%;
    list-style: none;
    margin: 24px;
    padding: 24px;
    text-align: center;
    font-size: 32px;
    border-radius: 30px;
}

.search-result a,
.search-result a:visited {
    text-decoration: none;
    color: var(--ink);
}

.search-result a:hover {
    color: var(--coral);
}

