.account-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.account-inner-container {
    background-color: var(--parchment);
    color: var(--ink);
    height: calc(100%- 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    border-radius: 30px;
    margin: 60px 20px;
}

.account-information {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 60px;
}
.separation {
    height: calc(100% - 120px);
    width: 5px;
    border-radius: 30px;
    margin: 60px 20px;
    background-color: var(--blue);
}

.account-form {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 320px;
    height: 50%;
}

.account-label {
    display: flex;
    flex-direction: column;
}

.section-title {
    margin: 60px 0 60px;
}

.register-message {
    height: 55px;
    align-content: center;
}

.account-error {
    margin-bottom: 60px;
    color: var(--pink);
}

.accountInput[type=password] {
    font-family: "Arial", serif;
    width: 97%;
}

/* ---------------- buttons ------------- */
.account-form button {
    justify-self: end;
}

.account-form .disabled {
    cursor: not-allowed;
    background-color: lightgrey;
}

.account-form .disabled:hover {
    color: var(--coral);
}