#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  --lightparchment: #F7EFC9;
  --parchment: #D8B87F;
  --pink: #E4007C;
  --purple: #6437B7;
  --blue: #69BDFC;
  --ink: #081E49;
  --coral: #EA8151;
}

@font-face {
  font-family: "Beyond Amazing";
  src: url("fonts/beyondWonderland/beyond-wonderland.ttf") format("truetype");
}

body, html {
  height: 100%;
}

body {
  background-image: url("src/assets/astralplanes.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

main {
  background-color: transparent;
}
